/* .body {
    font-family: Arial, sans-serif;
    background: url('../../public/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header nav a {
    font-weight: bold;
  }
  
  main {
    background-color: white;
  }
  
  button {
    transition: background-color 0.3s;
  }
   */