@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

/* Struktur dasar dan tata letak */
.body {
    font-family: 'Poppins', sans-serif;
    background: url('../../public/images/backgroundvisitor.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px; /* Menambahkan padding untuk memastikan container tidak terlalu dekat dengan tepi layar */
  }
  
.landingPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.overlapGroupWrapper {
    overflow: hidden;
    width: 1660px;
    height: 1024px;
}

.overlapGroup {
    position: relative;
    height: 1132px;
    top: -37px;
}

/*.backgroundVisitor {
    position: absolute;
    width: 1660px;
    height: 1024px;
    top: 37px;
    left: 0;
    object-fit: cover;
}*/

.rectangle {
    position: absolute;
    width: 584px;
    height: 1052px;
    top: 80px;
    left: 828px;
    background-color: #f9f9fb;
    border-radius: 79px;
}

.img {
    position: absolute;
    width: 181px;
    height: 148px;
    top: 862px;
    left: 82px;
    object-fit: cover;
}

.motif {
    position: absolute;
    width: 236px;
    height: 512px;
    top: 549px;
    left: 569px;
    object-fit: cover;
}

/* Styling teks */
.textWrapper, .textWrapper2, .textWrapper3, .textWrapper4, .textWrapper5, .textWrapper6, .textWrapper7, .textWrapper8 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 219px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
}

.textWrapper {
    left: 62px;
    top: 21px;
    transform: rotate(-12.77deg);
}

.textWrapper2 {
    left: 274px;
    top: 34px;
    transform: rotate(19.34deg);
}

.textWrapper3 {
    left: 407px;
    top: 29px;
    transform: rotate(0.60deg);
}

.textWrapper4 {
    left: 72px;
    top: 187px;
    transform: rotate(-6.49deg);
}

.textWrapper5 {
    left: 210px;
    top: 162px;
    transform: rotate(-0.38deg);
}

.textWrapper6 {
    left: 348px;
    top: 191px;
    transform: rotate(7.43deg);
}

.textWrapper7 {
    left: 215px;
    top: 310px;
    transform: rotate(13.43deg);
}

.textWrapper8 {
    left: 337px;
    top: 355px;
    transform: rotate(0.41deg);
}

.textWrapper9 {
    color: #f11b50;
    font-family: "Poppins", Helvetica;
    font-size: 44px;
    font-weight: 800;
    left: 913px;
    position: absolute;
    text-align: center;
    top: 161px;
}

.textWrapper10 {
    color: #f11b50;
    font-family: "Poppins", Helvetica;
    font-size: 44px;
    font-weight: 400;
    left: 925px;
    position: absolute;
    text-align: center;
    top: 216px;
}

/* Doodle */
.doodle {
    position: absolute;
    width: 585px;
    height: 251px;
    top: 815px;
    left: 827px;
    object-fit: cover;
}

/* Button styling dengan background image */
.buttonVendor {
    background: url('../../public/images/background dari button masuk sebagai vendor.png') no-repeat center center;
    background-size: cover;
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    width: 492px;
    height: 167px;
    top: 338px;
    left: 881px;
}

.subTextButton {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 25px;
    font-weight: 500;
}

.buttonVisitor {
    background: url('../../public/images/background dari button masuk sebagai visitor.png') no-repeat center center;
    background-size: cover;
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    width: 492px;
    height: 167px;
    top: 564px;
    left: 881px;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transisi untuk efek hover */
}

.buttonVendor, .buttonVisitor {
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transisi untuk efek hover */
  }
  
  .buttonVendor:hover, .buttonVisitor:hover {
    transform: scale(1.05); /* Membesarkan tombol sedikit saat hover */
  }
  
  .buttonVendor:active, .buttonVisitor:active {
    transform: scale(0.95); /* Memperkecil tombol sedikit saat ditekan */
  }
  
