@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* You can also create specific classes for different weights */
.bold {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.semi-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/* login.module.css */
.visitor-button {
  position: relative;
  margin-left: auto;
  border: 2px solid #6a0dad;
  color: #6a0dad;
  border-radius: 20px;
  font-size: 12px;
  background-color: white;
  cursor: pointer;
  padding: 3px 8px;
}

.visitor-button:hover {
  background-color: #f0f0f0;
}

.submit-button {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color: #e3342f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #cc1f1a;
}
